	<div class="container">
		<div class="row" style="height:400px">
			<div class="col">
			</div>
			<div class="col-md-auto align-self-end">
				<h1 class="display-1">Stream With Friends</h1>
			</div>
			<div class="col">
			</div>
		</div>
		<div class="row" style="height:100px">
			<div class="col">
			</div>
			<div class="col-md-auto">
				<label>Room Id</label>
				<input type="text" id="roomid" class="form-control" autocomplete="off">
				
				
			</div>
			<div class="col">
			</div>
		</div>
		<div class="row">
			<div class="col">
			</div>
			<div class="col">
				<div class="d-flex flex-column">
				<button id="joinbutt" type="button" class="btn btn-outline-success btn-lg float-left mb-3">Join Room</button>
				<button id="createbutt" type=button" class="btn btn-outline-info btn-lg float-right ">Create Room</button>
				</div>
			</div>
			<div class="col">
			</div>
		</div>

	</div>
