
 <div class="container">
		<div class="row" style="height:30vh">
			
			<div class="col-auto align-self-end mx-auto">
				<label>Display Name:</label>
				<input id="displayname" type="text" class="form-control">
				<div class='invalid-feedback'>
					Please Enter A display name
				</div>
			</div>

		</div>
		<div class="row">

			<div class="col mx-auto">
				<div class="text-center">
				<button id="enteroombutt" type="button" class="btn btn-outline-success btn-lg float-none mt-2 mb-3">{{#if isJoin}}Join{{else}}Create{{/if}}</button>
				</div>
			</div>

		</div>
		{{#unless isJoin}}
		<div class="row">

			<div class="col-8 d-flex text-center flex-column mx-auto ">
				<label>Magnet URI Of Video To Play:</label>
				<input id="magneturi" type="text" class="form-control mb-1" placeholder="magnet:?..." autocomplete="off">
				<h4 class="text-muted">OR</h4>
				<div id="dropzone" class="d-flex justify-content-center" style="height:40vh;border-style:dashed;border-color:grey;border-radius:20px">
					<h1 class="display-4 text-muted align-self-center">Drag And Drop Torrent File</h1>
				</div>
				<h4 id="torrentname" class="text-success"></h4>
			</div>
		</div>
		{{/unless}}
	</div>
