	<div class="container-fluid" style="height:100vh;">
		<div class="d-flex flex-column h-100 p-1" >
		<div class="row mb-1">
			<div class="col-8">
				<video id="videlem" class="video-js vjs-default-skin vjs-big-play-centered" controls ></video>
			</div>

			<div class="col-4">
				<div class="card h-100">
					<div class="card-body">
					<h3 id="watchers" class="card-title">Watchers :</h3>
					</div>
					<ul class="list-group">
					</ul>
				</div>
			</div>
		</div>
		<div class="row flex-grow-1">
			<div class="col-8">
				<div class="card h-100" >
					<div class="card-body">
					<h3 class="card-title">Chat :</h3>
					</div>
				</div>
			</div>

			<div class="col-4 align-self-center">
				<button id="mutebutt" type="button" data-toggle="button" class="btn btn-outline-secondary btn-lg mx-auto"> Mute </button>
				<button type="button" class="btn btn-outline-danger btn-lg mx-auto"> Disconnect </button>
			</div>
		</div>
		</div>
	</div>
